/*ABOUT-page start*/
.about-page {
  margin: 60px 100px;
}
.about-page h2 {
  font-size: 80px;
  margin-bottom: 15px;
}
.about-page h3 {
  font-size: 45px;
  margin-bottom: 25px;
}
.about-page h4 {
  font-size: 25px;
  margin-bottom: 50px;
}
.about-page p {
  font-size: 20px;
}
.about-page p.quote {
  font-size: 30px;
  font-style: italic;
  margin: 30px;
  text-align: center;
}
.about-page img {
  display: block;
  margin: 60px 0 0 0;
}
.about-page .button-one {
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 0;
}
.about-page .cv-button {
  margin: 40px 0;
}
.about-page .cv-button a {
  margin: 0 10px;
}
.about-page h5 {
  font-weight: 600;
  text-decoration: underline;
  margin-top: 60px;
}
.about-page p.tools-skills {
  font-size: 16px;
  padding: 0 30px;
}
#type-effect::after {
  content: "|";
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .about-page {
    margin: 30px 20px;
  }
  .about-page h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .about-page h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .about-page h4 {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .about-page p {
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
  }
  .about-page p.quote {
    font-size: 13px;
    margin: 30px 10px;
  }
  .about-page img {
    margin: 30px 0 0 0;
  }
  .about-page .button-one {
    font-size: 8px;
  }
  .about-page .cv-button {
    margin: 20px 0;
  }
  .about-page .cv-button a {
    margin: 3px 10px;
    font-size: 8px;
    padding: 0;
  }
  .about-page h5 {
    font-size: 13px;
    font-weight: 500;
    margin-top: 30px;
  }
  .about-page p.tools-skills {
    font-size: 6px;
    padding: 0 5px;
  }
}
/*ABOUT-page end*/
