/*HERO HEADER start*/
section.heroHeader {
  padding: 125px 0 25px 100px;
  display: block;
}
.heroHeader img {
  width: 60%;
  display: block;
  margin: 0 auto;
}
.heroHeader h3 {
  font-size: 35px;
}
.heroHeader h3 span.rotate {
  display: inline-block;
  animation: rotate 0.75s infinite;
  margin-right: 10px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
.heroHeader h1 {
  font-size: 70px;
  margin: 30px 0;
}
.heroHeader h2 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 40px;
}
.heroHeader a {
  margin: 0 5px;
}
@media (max-width: 768px) {
  section.heroHeader {
    padding: 50px 20px;
  }
  .heroHeader h3 {
    font-size: 16px;
  }
  .heroHeader h1 {
    font-size: 25px;
  }
  .heroHeader h1 small {
    font-size: 19px;
  }
  .heroHeader h2 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .heroHeader a {
    margin: 0 5px;
  }
}
/*HERO HEADER end:*/
