/*NAVBAR start*/
.top-bar {
  margin-top: 10px;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
}
.top-bar strong {
  color: var(--primary-pink);
  font-size: 22px;
}
.top-bar a {
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.light-theme .top-bar a:hover {
  color: var(--accent-green);
  cursor: pointer;
}
.light-theme .top-bar a {
  color: var(--text-white);
}
.dark-theme .top-bar a:hover {
  color: var(--accent-green);
  cursor: pointer;
}
.dark-theme .top-bar a {
  color: var(--text-black);
}
.top-bar .navBar-logo img {
  width: 60px;
}
.language-container {
  display: inline-flex;
  gap: 5px;
  margin-left: 15px;
}
.language-button {
  background-color: var(--background-light);
  color: var(--text-black);
  border: 1px solid var(--accent-green);
  font-size: 13px;
  border-radius: 15px;
  padding: 2.5px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.language-button:hover {
  background-color: var(--accent-green);
  color: var(--text-white);
}

@media (max-width: 768px) {
  .top-bar {
    padding: 5px;
    font-size: 10px;
  }
  .top-bar .navBar-logo img {
    width: 20px;
  }
  .top-bar strong {
    font-size: 10px;
  }
  .top-bar a {
    font-size: 8px;
    margin: 0 2px;
  }
  .top-bar small {
    display: none;
  }
  .language-button {
    font-size: 7px;
    padding: 1.5px 4px;
  }
  .language-container {
    margin-left: 5px;
  }
}
/*NAVBAR end*/
