/*PROJECTS-page start*/
.project-page {
  margin: 60px 100px;
}
.project-page h2 {
  font-size: 40px;
}
.project-page img {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 300px;
}
.project-page .project-page-intro {
  margin-bottom: 50px;
}
.project-page .project-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  overflow: visible;
  padding: 20px;
  box-sizing: border-box;
}
.project-page .project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-light);
  color: var(--text-black);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}
.project-page .project-box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.03);
}
.project-page .project-box .project-box-content {
  padding: 20px;
  text-align: center;
}
.project-page .project-box .project-box-content h3 {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}
.project-page .project-box .project-box-content p.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 15px;
}
.project-page .project-box .project-box-content p.tools span {
  font-size: 10px;
  padding: 2.5px 5px;
  background-color: var(--subtle-teal);
  color: var(--text-black);
  border-radius: 5px;
}
.project-page .project-box .project-box-content p {
  margin: 8px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  opacity: 0.8;
}
.project-page .project-box .project-box-content .project-page-icon {
  color: var(--text-black);
  margin: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
}
.project-page .project-box .project-box-content .project-page-icon:hover {
  color: var(--accent-green);
  transform: scale(1.1); /* Slight zoom-in effect */
}
.project-page .project-box .project-box-content .project-snap {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.project-page .project-box .project-box-content .project-snap img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.project-page .project-box:hover .project-snap img {
  transform: scale(1.1); /* Zoom en la imagen al hacer hover */
}
@media (max-width: 768px) {
  .project-page {
    margin: 30px 20px;
  }
  .project-page img {
    max-width: 100%;
  }
  .project-page h2 {
    font-size: 20px;
  }
  .project-page .project-page-intro p {
    font-size: 8px;
  }
  .project-page .project-page-intro {
    margin-bottom: 30px;
  }
  .project-page .project-boxes {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 15px;
    padding: 0px;
  }
  .project-page .project-box {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    border-radius: 15px;
    transition: all 0.3s ease;
  }
  .project-page .project-box .project-box-content {
    padding: 0;
  }
  .project-page .project-box .project-snap {
    height: 130px;
  }
  .project-page .project-box .project-snap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .project-page .project-box .project-box-content {
    padding: 10px;
    text-align: center;
  }
  .project-page .project-box .project-box-content h3 {
    font-size: 18px; /* Ajustar el tamaño del título */
    margin-bottom: 10px;
  }
  .project-page .project-box .project-box-content p.tools {
    justify-content: center; /* Centrar las herramientas */
    flex-wrap: wrap;
    gap: 3px; /* Espacio reducido entre las etiquetas */
    margin: 0;
  }
  .project-page .project-box .project-box-content p.tools span {
    font-size: 6px;
    padding: 0.5px 1.5px;
    background-color: var(--subtle-teal);
    color: var(--text-black);
    border-radius: 5px;
  }
  .project-page .project-box .project-box-content p {
    font-size: 10px;
    line-height: 14px;
    opacity: 0.8;
  }
  .project-page .project-box .project-box-content .project-page-icon {
    font-size: 15px;
    margin: 5px;
    color: var(--text-black);
  }
}
/*PROJECTS-page end*/

/*morePROJECTS-page start*/
.moreProject-page {
  margin: 60px 100px;
}
.moreProject-page .workingOn {
  border: 1px solid var(--background-dark);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0;
  padding: 20px;
}
.moreProject-page .workingOn h2 {
  padding: 0;
  margin: 0;
  font-size: 50px;
}
.moreProject-page .projectsCards {
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 5px;
  margin: 5px;
  max-width: 213px;
}
.moreProject-page .projectsCards h3 {
  font-size: 20px;
  margin: 5px;
  text-align: center;
}
.moreProject-page .projectsCards p.tools {
  margin: 0 8px 15px 8px;
  padding: 0;
  line-height: 9px;
}
.moreProject-page .projectsCards p.tools span {
  font-size: 10px;
  background-color: var(--accent-green);
  color: var(--text-black);
  border-radius: 5px;
  text-align: center;
}
.moreProject-page .projectsCards p {
  margin: 8px;
  padding: 0;
  font-size: 11px;
  line-height: 11px;
  opacity: 0.8;
}
.moreProject-page .projectsCards .project-page-icon {
  color: var(--text-black);
  margin: 0 5px 0 8px;
  opacity: 0.8;
  font-size: 15px;
}
.moreProject-page .projectsCards .project-page-icon:hover {
  color: var(--accent-green);
  transform: scale(1.1);
}
.dark-theme .moreProject-page .projectsCards .project-page-icon {
  color: var(--text-white);
}
.moreProject-page .future {
  padding: 50px 0 0 50px;
}
.moreProject-page .future h3 {
  font-size: 45px;
}
.moreProject-page h1 {
  margin: 50px 0 30px 0;
  font-size: 60px;
}
.moreProject-page .allProjects h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 30px;
}
.moreProject-page .allProjects p {
  font-size: 12px;
}
.moreProjects-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
@media (max-width: 768px) {
  .moreProject-page {
    margin: 20px 30px;
  }
  .moreProject-page .workingOn {
    padding: 5px 0;
  }
  .moreProject-page .workingOn h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
  }
  .moreProject-page .projectsCards {
    margin: 0;
    padding: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .moreProject-page .projectsCards h3 {
    font-size: 11px;
    margin: 2.5px;
  }
  .moreProject-page .projectsCards p.tools span {
    display: none;
  }
  .moreProject-page .projectsCards p {
    margin: 5px;
    font-size: 7.5px;
    line-height: 7.5px;
    text-align: center;
  }
  .moreProject-page .future {
    padding: 0 20px;
  }
  .moreProject-page .future h3 {
    font-size: 23.5px;
  }
  .moreProject-page ul {
    font-size: 10px;
    margin: 0;
    padding-left: 10px;
  }
  .moreProject-page h1 {
    text-align: center;
    margin: 20px 0;
    padding: 10px 0 0 0;
    font-size: 30px;
  }
  .moreProject-page .allProjects h4 {
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
  }
  .moreProject-page .allProjects p {
    font-size: 8px;
    text-align: center;
    margin-top: 10px;
  }
  .moreProjects-boxes {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
  }
}
/*morePROJECTS-page end*/
